{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Anel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'favi/favicon.ico' %}"/>
</head>
<body>
    <div class="container mt-3">
        <a class="btn btn-primary mb-1" href="{% url 'anel-listagem' %}">Voltar</a>
    </div>
    <div class="container mt-4">
        <h1>Criar Anel</h1>
        <form method="post" enctype="multipart/form-data" id="anelForm">
            {% csrf_token %}
            <div class="mb-3">
                <label for="nome_anel" class="form-label">Nome</label>
                <input type="text" class="form-control" id="nome_anel" name="nome_anel" required>
            </div>
            <div class="mb-3">
                <label for="poder_anel" class="form-label">Poder</label>
                <textarea class="form-control" id="poder_anel" name="poder_anel" required></textarea>
            </div>
            <div class="mb-3">
                <label for="portador_anel" class="form-label">Portador</label>
                <input type="text" class="form-control" id="portador_anel" name="portador_anel" required>
            </div>
            <div class="mb-3">
                <label for="forjadoPor_anel" class="form-label">Forjado Por</label>
                <select class="form-select" id="forjadoPor_anel" name="forjadoPor_anel" required>
                    <option value="Elfos">Elfos</option>
                    <option value="Anões">Anões</option>
                    <option value="Homens">Homens</option>
                    <option value="Sauron">Sauron</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="imagem_anel" class="form-label">Imagem (URL)</label>
                <input type="url" class="form-control" id="imagem_anel" name="imagem_anel" required>
            </div>
            <button type="submit" class="btn btn-success">Salvar</button>
        </form>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
